html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.Tableview {
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 45, 45);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tableContainer {
  position: relative;
  width: 100%;
  height: calc(100% - 58px);
  border: 2px solid rgb(211, 208, 208);
  display: block;

}

.controlpanel {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 50px;
  background-color: aliceblue;
  color: black;
  border: 2px solid rgb(211, 208, 208);

}

.tableviewController {
  width: 100%;
  height: 100%;
}



.month-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-bottom: none;

}

.calendar-container {
  background-color: rgb(228, 228, 230);
  width: 20rem;
  height: 15rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  margin-top: 2px;
  border: 1px solid black;
  border-top: 2px dotted black;
  padding: 10px 10px 10px 10px;
}

.day-container {
  background-color: rgb(129, 180, 247);
  border: 1px solid black;
  border-radius: 3px;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-container:hover {
  background-color: rgb(126, 126, 240);
  cursor: pointer;
}

.day-container-inactive {
  background-color: rgb(199, 199, 199);
  color: rgb(124, 123, 123);
  border: 1px solid black;
  border-radius: 3px;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}